@model  ProgramacionAvanzada_Proyecto_G2.Entities.UsuarioEnt

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout - Login.cshtml";
}

@using (Html.BeginForm("IniciarSesion", "Home", FormMethod.Post))
{
    <div class="row justify-content-center" style="width: 1200px; height: 625px;">
        <div class="col-md-6 mt-5">
            <div class="card">
                <div class="card-body">
                    <br />
                    <h1 class="card-title text-center">Inicia Sesión</h1>
                    <br />

                    @if (ViewBag.MsjPantalla != null)
                    {
                        <div style="color:white" class="alert alert-primary" role="alert">
                            @ViewBag.MsjPantalla
                        </div>
                    }

                    <div class="form-group">
                        <label for="username"><b>Correo electrónico:</b></label>
                        @Html.TextBoxFor(m => m.correoElectronico, new { @type = "email", @class = "form-control input-lg", @placeholder = "Correo Electrónico" })
                    </div>
                    <div class="form-group">
                        <label for="password"><b>Contraseña:</b></label>
                        @Html.TextBoxFor(m => m.contrasena, new { @type = "password", @class = "form-control input-lg", @placeholder = "Contraseña" })
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
                    </div>
                    <div class="text-align: text-center">
                        <p>
                            <a class="text-blue" href="@Url.Action("Registro", "Home")">¿No tienes una cuenta?</a><br />
                            <a class="text-blue" href="@Url.Action("Recuperar", "Home")"> Recuperar Contraseña </a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
}